
.columns-h1{
    font-size: 45px;
    text-align: center;

}
.columns {
  float: left;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
}

.column {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
}

.column:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.column .header {
  background-color: rgb(121, 3, 52);
  color: white;
  font-size: 25px;
}

.column li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.column .footer {
  background-color: rgb(224, 169, 201);
  font-size: 20px;
}

.column button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}