body{
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #facedb;
}

.topnav {
    background-color: rgb(136, 11, 59);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;}
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: rgb(71, 6, 31);
    color: white;
  }

  .topnav .login-container {
    float: right;
  }

  /* Style the button inside the input container */
.topnav .login-container button{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container p{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;}
}

.topnav .login-container button:hover {
  background: #ccc;
}

  .topnav input[type=text], input[type=password] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  .movieList{
    margin: 0 -5px;
}
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: #f1f1f1;
    transition: 0.3s;
    float: left;
    width: 18rem;
    padding: 0px;
    margin: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .card-row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text], .topnav input[type=password], .topnav .login-container, 
    .topnav .login-container button, .topnav .login-container p {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text], input[type=password] {
      border: 1px solid #ccc;
    }
    .card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
  }
